.loader-invisible {
  display: none;
}

.loader-visible {
  display: inline-block;
  position: relative;
  margin-top: 64px;
  width: 64px;
  height: 64px;
}

.loader-visible div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fdce25;
  border-radius: 50%;
  animation: loader-visible 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fdce25 transparent transparent transparent;
}

.loader-visible div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader-visible div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader-visible div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-visible {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
