.result-wrapper-none {
  display: none;
}

.result-wrapper-live,
.result-wrapper-not-found {
  margin-top: 96px;
  padding: 0 80px;
  box-sizing: border-box;
  width: 100%;
}

.result-wrapper-live .result-not-found-header {
  display: none;
}

.result-wrapper-live .result-header {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: white;
}

.result-wrapper-live .result-list {
  display: grid;
  margin: 36px 0px 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px;
}

/*.result-wrapper-live .result-list__poster-item {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.result-wrapper-live .result-list__poster-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.result-list__poster-item__decore-background {
  display: none;
}

.result-list__poster-item__description-wrapper {
  position: absolute;
  overflow: hidden;
  max-height: 40%;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: none;
}

.result-list__poster-item:hover {
  cursor: pointer;
}

.result-list__poster-item:hover .result-list__poster-item__decore-background {
  display: block;
  border-radius: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 26.43%,
    rgba(0, 0, 0, 0.8) 72.41%
  );
  backdrop-filter: blur(2px);
}

.result-list__poster-item:hover .result-list__poster-item__description-wrapper {
  display: grid;
  grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'rating rating'
    'title title'
    'genre year';
  row-gap: 4px;
  column-gap: 46px;
}

.result-list__poster-item__rating-wrapper {
  grid-area: rating;
  overflow: hidden;
  display: flex;
}

.result-list__poster-item__rating {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-left: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
}

.result-list__poster-item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.result-list__poster-item__genre {
  grid-area: genre;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 12px;
}

.result-list__poster-item__year {
  grid-area: year;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 12px;
}*/

/*.result-wrapper-live .result-list__not-poster-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 0px 20px 20px 20px;
  min-width: 0px;
}*/

/*.result-wrapper-live .result-list__not-poster-item__wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
  grid-template-rows: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-areas:
    'title title'
    'genre year';
  row-gap: 12px;
  column-gap: 46px;
}*/

/*.result-wrapper-live .result-list__not-poster-item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.24);
}

.result-wrapper-live .result-list__not-poster-item__genre {
  grid-area: genre;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.24);
}

.result-wrapper-live .result-list__not-poster-item__year {
  grid-area: year;
  display: flex;
  align-items: center;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.24);
}*/

/*.result-wrapper-live .result-list__loading-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 0px 36px 68px 20px;
}

.result-wrapper-live .result-list__loading-item__first-strip {
  width: 100%;
  height: 24px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.result-wrapper-live .result-list__loading-item__second-strip {
  width: 63.4%;
  height: 24px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}*/

.result-wrapper-not-found .result-header,
.result-wrapper-not-found .result-list {
  display: none;
}

.result-wrapper-not-found .result-not-found-header {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: white;
}
