html {
  height: 100%;
}

body {
  background-color: #1c1c1c;
  height: 100%;
  margin: 0%;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  align-self: center;
}

.content-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  align-items: center;
}

.search-wrapper-default {
  margin-top: 54px;
}

.search-wrapper-default .search-block {
  display: flex;
  margin: 0 63px;
}

.search-wrapper-default .search-block__input-string-wrapper {
  display: flex;
  margin-left: 8px;
  align-items: center;
  width: 446px;
  overflow: hidden;
}

.search-wrapper-default .search-block__input-string {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  text-overflow: ellipsis;
  background-color: #1c1c1c;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
}

.search-block__input-string::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.search-wrapper-default .search-block__cancel {
  display: none;
}

.search-wrapper-default .search-bar {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  margin-top: 11px;
}

.search-wrapper-default .search-history-block {
  display: none;
}

.search-wrapper-active {
  margin-top: 54px;
  padding: 0 80px;
  box-sizing: border-box;
  width: 100%;
}

.search-wrapper-active .search-block {
  display: flex;
}

.search-wrapper-active .search-block__input-string-wrapper {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 12px;
  overflow: hidden;
}

.search-wrapper-active .search-block__input-string {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  text-overflow: ellipsis;
  background-color: #1c1c1c;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
}

.search-wrapper-active .search-block__cancel {
  margin-left: auto;
}

.search-wrapper-active .search-bar {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #fdce25;
  margin-top: 12px;
}

.search-wrapper-active .search-history-block {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px 0px -4px;
}

.search-wrapper-active .search-history-block__elem {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 6px 16px;
  height: 36px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.search-wrapper-scroll {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  background-color: rgba(28, 28, 28, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 2px;
}

.search-wrapper-scroll .search-block {
  display: flex;
  margin: 12px 80px 14px;
}

.search-wrapper-scroll .search-block__input-string-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 12px;
  overflow: hidden;
}

.search-wrapper-scroll .search-block__input-string {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  text-overflow: ellipsis;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  outline: none;
  color: white;
  caret-color: white;
}

.search-wrapper-scroll .search-block__cancel {
  margin-left: auto;
}

.search-wrapper-scroll .search-bar {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
}

.search-wrapper-scroll .search-history-block {
  display: none;
}

.search-block__cancel {
  background-image: url(images/icons/esc.svg);
  width: 48px;
}

.search-block__cancel:hover {
  cursor: pointer;
  background-image: url(images/icons/esc_white.svg);
}

.search-wrapper-active .search-history-block__elem:hover {
  background-color: white;
  cursor: pointer;
}

.result-wrapper-none {
  display: none;
}

.result-wrapper-live,
.result-wrapper-not-found {
  margin-top: 96px;
  padding: 0 80px;
  box-sizing: border-box;
  width: 100%;
}

.result-wrapper-live .result-not-found-header {
  display: none;
}

.result-wrapper-live .result-header {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: white;
}

.result-wrapper-live .result-list {
  display: grid;
  margin: 36px 0px 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px;
}

.result-wrapper-live .result-list__poster-item {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.result-wrapper-live .result-list__poster-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.result-list__poster-item__decore-background {
  display: none;
}

.result-list__poster-item__description-wrapper {
  position: absolute;
  overflow: hidden;
  max-height: 40%;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: none;
}

.result-list__poster-item:hover {
  cursor: pointer;
}

.result-list__poster-item:hover .result-list__poster-item__decore-background {
  display: block;
  border-radius: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 26.43%,
    rgba(0, 0, 0, 0.8) 72.41%
  );
  backdrop-filter: blur(2px);
}

.result-list__poster-item:hover .result-list__poster-item__description-wrapper {
  display: grid;
  grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'rating rating'
    'title title'
    'genre year';
  row-gap: 4px;
  column-gap: 46px;
}

.result-list__poster-item__rating-wrapper {
  grid-area: rating;
  overflow: hidden;
  display: flex;
}

.result-list__poster-item__rating {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-left: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
}

.result-list__poster-item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.result-list__poster-item__genre {
  grid-area: genre;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 12px;
}

.result-list__poster-item__year {
  grid-area: year;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 12px;
}

.result-wrapper-live .result-list__not-poster-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 0px 20px 20px 20px;
  min-width: 0px;
}

.result-wrapper-live .result-list__not-poster-item__wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
  grid-template-rows: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-areas:
    'title title'
    'genre year';
  row-gap: 12px;
  column-gap: 46px;
}

.result-wrapper-live .result-list__not-poster-item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.24);
}

.result-wrapper-live .result-list__not-poster-item__genre {
  grid-area: genre;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.24);
}

.result-wrapper-live .result-list__not-poster-item__year {
  grid-area: year;
  display: flex;
  align-items: center;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.24);
}

.result-wrapper-live .result-list__loading-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 0px 36px 68px 20px;
}

.result-wrapper-live .result-list__loading-item__first-strip {
  width: 100%;
  height: 24px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.result-wrapper-live .result-list__loading-item__second-strip {
  width: 63.4%;
  height: 24px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.result-wrapper-not-found .result-header,
.result-wrapper-not-found .result-list {
  display: none;
}

.result-wrapper-not-found .result-not-found-header {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: white;
}

.footer {
  flex: 0 0 auto;
  align-self: center;
  margin-bottom: 16px;
}

.footer__string {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}
